<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h1>User Information</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${userName}"></td>
        <td th:text="${userPassword}"></td>
        <td th:text="${userRole}"></td>
    </tr>
    </tr>
</table>
<br>
<br>
<form th:action="@{'/logout'}" method="post">

    <button type="submit">Logout</button>
</form>
</body>
</html>
